* {
  margin: 0;
  padding: 0;
}

details,
summary {
  width: 100%;
  box-sizing: border-box;
  transition: all 0.4s ease;
}

.bug {
  padding: 23px;
  border-radius: 23px;
  background: rgb(226, 226, 226);
  width: 500px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
